<!DOCTYPE HTML>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	   	<title>Listar arquivos</title>
	    
	</head>
	<body>
		<div th:if="${message != null}">
			<h1 th:text="${message}"></h1>    
		</div>
		<div th:unless="${message != null}">
			<div th:each="file,iterStat : ${files}">    
				<h1 th:text="${file.name}"></h1>  
				<a th:href="${file.publicLinkToDownload}">Download</a>  
			</div>	
		</div>		
	</body>
</html>